.slider {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
  }
}

.slider__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__image {
  display: block;


  object-position: left;
  object-fit: cover;


  &--before {
    position: absolute;
    width: 140px;

    @media (min-width: $tablet-width) {
      width: 280px;
    }
  }

  &--after {
    clip-path: inset(0 0 0 50%);
  }
}

.slider__toggle {
  z-index: 1;
  position: relative;
  top: 1px;
  right: 140px;
  transform: translateX(-50%);
  width: 40px;
  height: 256px;
  padding: 0;
  border: 0;
  color: $bg-color-social;
  background-color: transparent;
  cursor: pointer;
  stroke: $bg-color-social;

  @media (min-width: $tablet-width) {
    top: 2px;
    right: 280px;
    height: 512px;
  }

  &::before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background-color: $bg-color-social;
  }

  &:focus {
    color: $bg-basic-green;
    stroke: $bg-basic-green;
  }

  &:focus::before {
    background-color: $bg-basic-green;
  }

  &:active {
    color: $bg-color-slider;
    stroke: $bg-color-slider;
    opacity: 0.6;
  }

  &:active::before {
    background-color: $bg-color-slider;
    opacity: 0.6;
  }
}

